.header {
    background-color: white; /* dark blue-gray */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .logo a {
    color: #38bdf8; /* light blue */
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #0e0e0f;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
   li a:hover {
    color: #38bdf8;
  } 
  .user-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .user-icon {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  
  .dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #333;
    border: 1px solid #555;
    padding: 10px;
    z-index: 1000;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .dropdown button {
    width: 100%;
    background: none;
    color: white;
    padding: 8px;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown button:hover {
    background-color: #444;
  }
  